<span style="color: #0089ff; font-size: 18pt;"><strong>{{alarm_str}}<br/></strong></span><span
        style="color: #ff0000;"><a style="color: #ff0000;" title="表單連結" href="{{herf}}"><strong
        style="font-size: 24px;"><span style="font-size: 14pt;">表單連結</span></strong></a></span><br/><br/>

<span style="height: 30px; width: 100%; font-size: 18pt;">{{small_tiitle}}</span>
<br/>
<table style="width: 30%; border-collapse: collapse;" border="1">
    <tbody>
    <!--!(arr1)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<table style="width: 30%; border-collapse: collapse;" border="1">
    <tbody>
    <!--!(arr2)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<table style="width: 30%; border-collapse: collapse;" border="1">
    <tbody>
    <!--!(arr3)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<table style="width: 30%; border-collapse: collapse;" border="1">
    <tbody>
    <!--!(arr4)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<table style="width: 30%; border-collapse: collapse;" border="1">
    <tbody>
    <!--!(arr5)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<br/>
<table style="width: 30%; border-collapse: collapse;" border="0">
    <tbody>
    <!--!(arr6)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<table style="width: 30%; border-collapse: collapse;" border="0">
    <tbody>
    <!--!(arr7)
    <tr style="height: 22px;">
      <td style="width: 30%; height: 20px;">{{arr1}}</td>
    </tr>
    !-->
    </tbody>
</table>
<table style="width: 100%; border-collapse: collapse;" border="1">
    <tbody>
    <!--!(arr8)
    <tr style="height: 22px;">
      <td style="width: 10%; height: 20px;">{{arr1}}</td>
      <td style="width: 10%; height: 20px;">{{arr2}}</td>
      <td style="width: 10%; height: 20px;">{{arr3}}</td>
      <td style="width: 10%; height: 20px;">{{arr4}}</td>
      <td style="width: 10%; height: 20px;">{{arr5}}</td>
      <td style="width: 10%; height: 20px;">{{arr6}}</td>
      <td style="width: 10%; height: 20px;">{{arr7}}</td>
      <td style="width: 10%; height: 20px;">{{arr8}}</td>
      <td style="width: 10%; height: 20px;">{{arr9}}</td>
    </tr>
    !-->
    </tbody>
</table>
<br/>