<span style="color: #0089ff; font-size: 18pt;"
  ><strong>*{{alarm_str}}<br /></strong></span
><span style="color: #ff0000;"
  ><a style="color: #ff0000;" title="表單連結" href="{{herf}}"
    ><strong style="font-size: 24px;"
      ><span style="font-size: 14pt;">表單連結</span></strong
    ></a
  ></span
><br /><br />
<table style="width: 100%; border-collapse: collapse;" border="1">
  <caption>
    &nbsp;
  </caption>
  <tbody>
    <tr style="height: 30px;">
      <td style="height: 30px; width: 100%;" colspan="3">{{small_tiitle}}</td>
    </tr>
    <!--!(arr)
    <tr style="height: 22px;">
      <td style="width: 20%; height: 20px;">{{arr1}}</td>
      <td style="width: 40%; height: 20px;">{{arr2}}</td>
      <td style="width: 40%; height: 20px;">{{arr3}}</td>
    </tr>
    !-->
  </tbody>
</table>
<br />
